# Ignore PyCharm project files
.idea/

# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook files
.ipynb_checkpoints/

# Ignore other common files
*.log
*.swp
*.swo
*.sqlite3
*.retry

# Flask
flask_session/

# Trash
trash.py